name: Build and deploy to docker hub

on:
  push:
    tags:
      - '*'

jobs:
  docker:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        jdk:
          - 8u472-b08-jdk-jammy
          - 8u472-b08-jdk-noble
          - 11.0.29_7-jdk-jammy
          - 11.0.29_7-jdk-noble
          - 17.0.17_10-jdk-jammy
          - 17.0.17_10-jdk-noble
          - 21.0.9_10-jdk-jammy
          - 21.0.9_10-jdk-noble
          - 8u472-b08-jre-jammy
          - 8u472-b08-jre-noble
          - 11.0.29_7-jre-jammy
          - 11.0.29_7-jre-noble
          - 17.0.17_10-jre-jammy
          - 17.0.17_10-jre-noble
          - 21.0.9_10-jre-jammy
          - 21.0.9_10-jre-noble
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Fetch tags
        run: git fetch --tags

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      
      - name: Get latest tag
        id: get_latest_tag
        run: |
          TAG=$(cat LATEST_VERSION)
          echo "tag=$TAG" >> $GITHUB_OUTPUT

      - name: Build image
        uses: docker/build-push-action@v3
        with:
          context: .
          platforms: linux/amd64, linux/arm64/v8
          build-args: |
            JDKVER=${{ matrix.jdk }}
            TDVERSION=${{ steps.get_latest_tag.outputs.tag }}
          file: Dockerfile
          push: true
          tags: |
            enix223/tdengine-openjdk-client:${{ matrix.jdk }}-${{ steps.get_latest_tag.outputs.tag }}
